<ion-view view-title="Add Component">
    <ion-item menu-close href="#/app/addComponent" class="item item-icon-left">
        Add Component
    </ion-item>

    <ion-content class="has-header has-tabs-bottom">
        <section class = "home-container">
            <div class = "row header">
                <div class = "text-center">
                  <h2> [ Add Component ] </h2>
                </div>
            </div>
            <div class="list">
                <a class="item item-button-left item-button-right">
                    <button class="button button-positive" ng-click="addMedia()">
                        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
                    </button>
                    <input type="text" ng-model="newComponent" placeholder="Enter New Component">
                    <!-- <input type="text" placeholder="Facility Name" ng-model="newFacility"> -->
                    <button class="button button-positive" ng-click="addComponent(newComponent)">
                        Add
                    </button>
                </a>
            </div>
            <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
              <img ng-repeat="image in images" ng-src="{{'data:image/jpeg;base64,'+image['imgData']}}" style="height:200px; padding: 5px 5px 5px 5px;" ng-click="deleteImage($index)"/>
            </ion-scroll>
        </section>
    </ion-content>
</ion-view>