<ion-view view-title="Add/Remove Component">
    <ion-nav-buttons side="right">
        <a class="button" menu-toggle="right" ng-click="gotoAddComponent()" >Add</a> <!-- ng-href="#/app/add-component" -->
    </ion-nav-buttons>


    <ion-content class="has-header has-tabs-bottom">
        <section class = "home-container">
            <div class = "row header">
                <div class = "text-center">
                  <h2> [ Add / Remove Component ] </h2>
                </div>
            </div>
            <ion-list can-swipe="true" class="list">
                
               <!--  <a class="item item-thumbnail-left-left item-button-right">
                    <img src="data:image/jpg;base64,{{image.imgData}}">
                </a> -->
                
                <ion-item class="item item-thumbnail-left" ng-repeat="component in components">
                    <img src="data:image/jpeg;base64,{{component.image}}">
                    <h2>{{component.name}}</h2>
                    <ion-option-button class="button-assertive" ng-click="delete(component.id, $index)">
                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </section>
    </ion-content>
</ion-view>